@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@media print {

  aside,
  button,
  header p {
    display: none !important;
  }

  main {
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    background: white !important;
  }
}